/* Nav bar Reduc */
.visual-refresh [class^="typeWindows_"] {
  height: 48px;
  pointer-events: none;
}
[class^="bar_"] > [class^="sidebar_"],
[class^="bar_"] > [class^="right_"] {
  pointer-events: auto;
  max-width: min-content;
  margin-left: calc(var(--custom-guild-sidebar-width) - 250px);
}
.visual-refresh [class^="center_"] {
  display: none;
}
.visual-refresh [class^="sidebar_"]:not([class^="bar_"] > [class^="sidebar_"]) {
  padding-top: 48px;
}
.visual-refresh [class^="content_"] {
  border-top-left-radius: 0px;
}
[class^="layer_"] > [class^="container_"] {
  margin-top: -1 /*8*/ px;
}

[class^="layer_"] > [class^="container_"] {
  height: calc(100% + 48px) !important;
}
[class^="appAsidePanelWrapper_bd26cc"],
[class^="layer_"] > [class^="container_"],
[class^="subtitleContainer_"],
[class^="layers_"] {
  overflow: visible !important;
}
.platform-win [class^="layer_"] {
  /* NOW LISTEN TO ME ON THIS ONE */
  top: -100px;
  padding-top: 100px;
}
[class^="title_"] {
  padding-right: 110px;
  /* good fuckign luck trying to make this work when the sidebar is collapsed */
}
