/* Remove the phone indicator beside avatar */
.subtitleContainer_a7d72e:has(foreignObject[mask="url(#svg-mask-avatar-status-mobile-24)"]) [class*=avatar__] {
	width: 75% !important;
}
root {
	--rs-phone-visible: none;
}
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
	visibility: hidden !important;
}
#app-mount [class*=wrapper_] foreignObject[mask*=mobile]:after {
	display: none;
}
#app-mount [class*=wrapper_] foreignObject[mask*=mobile][width="80"]:after {
	display: none;
}
/* Gets rid of avatar decoration for you and everyone else in Memberlist */
[class*=members_] [classavatarDecoration_] {
	display: none !important;
}

/* Polls */
/* Badge icon */
div[class^=pollBadgeDefault] svg path {
	fill: #000 !important;
}
/* Badge text */
div[class^="pollBadgeDefault"] div[class^="text"] {
	color: #000 !important;
}
/* Background */
div[class*="pollContainer"] {
	background-color: #ffffff10 !important;
}
/* Answer bubble */
div[class*="pollContainer"] div[class^="answer"] {
	background-color: #000000;
}


/* Fix the text being too blurry */
[class*=userPopoutOuter_], [class*=roleNameOverflow_]/*, [class*=nickname_], [class*=userTagUsername_]*/ {
  color: hsl(0, 0%, 95%);
}

/* Minimal Auth Apps */
[class*=authedApp_]{
	max-height:32px;
	box-sizing:content-box;
	overflow:hidden;
	transition:max-height 1s;
}
[class*=authedApp_]:hover{
	max-height:100vh
}

/*makes it so that when you hover over cropped text it rolls to reveal the full text*/
[class*=header_a0]:hover [class*=headerText_a0] {
	animation: scrollText 8s linear infinite;
	width: 12rem;
}
@keyframes scrollText {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* jump to present */
div[class^=jumpToPresentBar] {
	left: 0;
	right: unset;
	border-radius: 0px 8px 0px 0px;
	background-color: transparent;
	> button[class^=barButtonMain] {
		flex: 0 0 auto;
		display: none;
	}
}

/*     Modernized audio attachments      */
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioMetadata"] {
  margin-bottom: 24px;
}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioControls"] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 8px 8px;
}

/* Pending Apps */
.container_aa1bff {
    visibility: hidden;
    height: 5px;
}

/* Remove the Create Invite button from Channel Lists */
[class^="iconVisibility_"] [aria-label="Create Invite"], [aria-label="Edit Channel"] {
    display: none !important;
}
[class^="iconVisibility_"] [class^="channelInfo_"] {
    display: flex !important;
}




[class^="memberInner"]:has(div>div[aria-label*="Online"]) {
    background: linear-gradient(to left, rgba(68, 105, 68, .25), transparent);
}
[class^="memberInner"]:has(div>div[aria-label*="Idle"]) {
    background: linear-gradient(to left, rgba(135, 105, 75, .25), transparent);
}
[class^="memberInner"]:has(div>div[aria-label*="Do Not Disturb"]) {
    background: linear-gradient(to left, rgba(130, 70, 70, .25), transparent);
}
[class^="memberInner"]:has(div>div[aria-label*="Streaming"]) {
    background: linear-gradient(to left, rgba(63, 33, 88, .25) , transparent);
}