/**
 * @name Inania
 * @author Kurolibar#0009
 * @version 1.0.0
 * @description Theme and Importers
 * @website https://github.com/Kurolibar/Discord-Addons
 * @source https://github.com/Kurolibar/Discord-Addons
*/

/* @import url("https://kurolibar.github.io/Discord-Addons/Snippets/Navigation%20Bar%20Reduction.css"); */
@import url("https://kurolibar.github.io/Discord-Addons/Snippets/Profile.css");
@import url("https://kurolibar.github.io/Discord-Addons/Snippets/Sidebar.css");
@import url("https://kurolibar.github.io/Discord-Addons/Snippets/Spotify.css");
@import url("https://kurolibar.github.io/Discord-Addons/Snippets/Text.css");
@import url("https://kurolibar.github.io/Discord-Addons/Snippets/UI.css");

/* Settings */
:root {
  /* Profile */

  /* Sidebar */
  --side-image: url(https://fauux.neocities.org/doorBK.gif);
  --gDM-online: linear-gradient(to right, rgb(68, 105, 68), transparent);
  --gDM-offline: linear-gradient(to right, rgb(66, 66, 66), transparent);
  --gDM-dnd: linear-gradient(to right, rgb(130, 70, 70), transparent);
  --gDM-idle: linear-gradient(to right, rgb(135, 105, 75), transparent);
  --gDM-streaming: linear-gradient(to right, rgb(63, 33, 88), transparent);
  --gDM-border-radius: 12px;
  /* Spotify */

  /* Text */
  /* Override Theme Chat Background */
  --channeltextarea-background: transparent;
  --scb-applauncher-padding: 0px;
  /* border-radius of bar */
  --scb-border-radius: 8px;
  /* default = 8px */
  --msg-solo-button-width: 36px;
  --msg-grid-button-padding: 32px;
  --msg-grid-columns: 1;
  --msg-button-height: 64px;
  --msg-button-border-radius: 8px;
  --msg-section-spacing: 12px;

  /* UI */
  --bg-opacity: 90%;
  --wallpaper: url("https://kurolibar.github.io/Discord-Addons/Resources/Strings.jpg");
}
